:root {
 --dark: #0D0D2B;
 --white: #FFFFFF;
 --white-rgb: 255,255,255;
 --blue: #3671E9;
 --purple: #2B076E;
}

body {
  background-color: var(--dark);
  color: var(--white);
  font-family: 'Rubik', sans-serif;
}

.header {
    max-width: 1202px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
.nav-item {
    margin-left: 32px;
}

.nav-link--login{
    margin-left: 56px;
    padding-right: 16px;
    border-right: 1px solid rgba(242,242,242,0.3);
    font-weight: 500;
}

.nav-link--login{
    font-weight: 500;
}

.nav-link--register {
    color: var(--white);
    background-color: var(--blue);
    padding: 14px 32px;
    font-size: 16px;
    border-radius: 32px;
    font-weight: 500;
    text-decoration: none;
    transition: .2s ease background-color;
  }

.nav-link--register{
    margin-left: 24px;
}  

.nav-link--register:hover {
    background-color: var(--purple);
}  

.nav-link {
    color: var(--white);
    font-size: 16px;
    text-decoration: none;
    transition: .2s ease color;
}


.nav-link:hover {
    color: var(--blue);
}

.wrapper {
    max-width: 942px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.main {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.main-text {
    flex: 0 0 600px;
}

.main-text__sale {
    background-color: rgba(var(--white-rgb), 0.1); 
    display: inline-block;
    border-radius: 32px;
    padding: 10px 12px 10px 4px;
    margin: 0;
}

.main-text__sale span {
    background-color: var(--white);
    color: var(--dark);
    border-radius: 32px;
    padding: 6px 19px;
    margin-right: 23px;
    font-size: 16px;
    font-weight: 500;
}

.main-text__titel {
    font-size: 64px;
    font-weight: 700;
    margin-top: 26px;
    line-height: 1.2;
    margin-bottom: 24px;
}

.main-text__description {
    line-height: 1.6;
    color: #E0E0E0;
    max-width: 400px;
    margin-bottom: 50px;
}

.main-img {
    flex-grow: 1;
}

.main-img__image {
    width: 100%;
}

.maim-text__link {
    color: var(--white);
    background-color: var(--blue);
    padding: 20px 30px;
    font-size: 16px;
    border-radius: 32px;
    font-weight: 500;
    text-decoration: none;
    transition: .2s ease background-color;
    
}

.maim-text__link:hover {
    background-color: var(--purple);
}

.stat {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-top: 200px;
    padding-bottom: 216px;
}

.stat-item {
    display: flex;
    align-items: center;
}

.stat-item__icon {
    background-color: rgba(var(--white-rgb), 0.1);
    border-radius: 100%;
    flex: 0 0 80px;
    height: 80px;
    width: 80px;
    margin-right: 24px;
    background-repeat: no-repeat;
    background-position: center center;
}

.stat-item__icon--01 {
background-image: url(../images/icon01.svg);
}

.stat-item__icon--02 {
background-image: url(../images/icon02.svg);
}

.stat-item__icon--03 {
background-image: url(../images/icon03.svg);
}

.stat-item__text span {
    display: block;
    font-size: 40px;
    font-weight: 700;
     color: var(--white);
}

.text {
    text-align: center;
    padding-bottom: 200px;
}

.text__titel {
    font-size: 40px;
    font-weight: 700;
}

.text__description {
    color: #E0E0E0;
    font-size: 18px;
    line-height: 1.5;
    max-width: 622px;
    margin: 0 auto;
}

.calc-head {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-radius: 16px 16px 0 0;
    background-color: #FBFCFE;
    max-width: 942px;
    margin: 0 auto;
    padding: 15px, 30px;
    padding-bottom: 48px;
}

.calc-head__input {
    font-size: 20px;
    color: var(--dark);
    border: none;
    border-bottom: 1px solid #E0E0E0;
    flex-grow: 1;
    margin-left: 48px;
    margin-top: 48px;
    background-color: transparent;
}

.calc-head__input::placeholder {
    color: var(--dark);
}

.calc-head__select {
    font-size: 20px;
    color: var(--dark);
    border: none;
    border-bottom: 1px solid #E0E0E0;
    flex: 0 0 200px;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 48px;
    background-color: transparent;
}

.calc-head__btn {
    font-size: 18px;
    color: var(--white);
    background-color: var(--blue);
    padding: 20px 0px;
    border-radius: 32px;
    font-weight: 500;
    text-decoration: none;
    transition: .2s ease background-color;
    flex: 0 0 146px;
    margin-right: 48px;
    margin-top: 48px;
}

.calc-head__btn:hover {
    background-color: var(--purple); 
}

.page-light {
    background-color: #F8F9FB;
    color: var(--dark);
    padding-bottom: 100px;
}

.page-light__titel {
    font-weight: 700;
    font-size: 40px;
    max-width: 741;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 64px;
}

.calc-foot {
    max-width: 942px;
    margin: 0 auto;
    border-radius: 0 0 16px 16px;
    padding: 15px 0px;
    background-color: var(--white);
    margin-bottom: 100px;
}

.calc-foot__titel {
    font-size: 16px;
    font-weight: 500;
    color: var(--blue);
    margin-left: 48px;
}

.calc-foot__total {
    font-size: 32px;
    font-weight: 700;
    color: var(--dark);
    margin-left: 48px;
}

.calc-foot__total span {
    font-size: 32px;
    font-weight: 700;
    color: var(--blue)
}

.calc-foot__description {
    font-size: 16px;
    font-weight: 400;
    color: #828282;
    margin-left: 48px;
}

.crypto {
    display: flex;
    justify-content: space-between;
    align-items: start;
    text-align: center;
    background-color: #F8F9FB;
    border-radius: 16px;
}

.crypto-item {
    background-color: var(--white);
    color: var(--dark);
    flex: 0 0 32%;
    padding: 30px 30px;
    box-sizing: border-box;
    border-radius: 16px;
    transition: .2s ease background-color, .2s ease color;
}

.crypto-item:hover {
    background-color: var(--purple);
    color: var(--white);
}

.crypto-item {
    background-color: var(--white);
    flex: 0 0 32%;
    padding: 30px 30px;
    box-sizing: border-box;
    border-radius: 16px;
}

.crypto-item__titel {
    font-size: 32px;
    font-weight: 700;
}

.crypto-item__titel sup {
    font-size: 18px;
    font-weight: 500;
    color: #BDBDBD;
}

.crypto-item__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    transition: .2s ease color;
}

.crypto-item:hover .crypto-item__description {
   color: var(--white);
}

.crypto-item__btn {
    font-size: 18px;
    background-color: var(--white);
    color: var(--white);
    font-weight: 500;
    border-radius: 32px;
    max-width: 205px;
    padding: 0 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 205px;
    margin: 0 auto;
    transition: .2s ease background-color;
}

.crypto-item:hover .crypto-item__btn{
    background-color: var(--blue)
}

.crypto-item__btn-text {
    font-size: 18px;
    font-weight: 500;
    width: 0px;
    text-align: left;
    transition: .2s ease width;
}

.crypto-item:hover .crypto-item__btn-text{
    width: 133px;
}

.crypto-item__btn-icon {
    background-color: var(--white);
    width: 64px;
    height: 64px;
    display: block;
    border-radius: 100%;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid rgba(var(--purple-rgb), 0.2);
    transform: scale(1);
    transition: .2s ease border, .2s ease transform;
}

.crypto-item:hover .crypto-item__btn-icon {
    border: 2px solid var(--blue);
    transform: scale(0.5);
}

.page-gradient {
    background: linear-gradient(180deg, var(--purple) 0%, var(--dark) 100%);
    padding-top: 88px;
    padding-bottom: 88px;
}

.form {
    background-color: var(--blue);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 54px 50px;
}

.form-text {
    flex-grow: 1;
}

.form-text__title {
    margin-top: 0;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 27px;
}

.form-text__description {
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    max-width: 348px;
    line-height: left;
    line-height: 1.5;
}

.form-leter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 566px;
}

.form-leter__input {
font-size: 16px;
    border: none;
    border-bottom: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);
    width: 100%;
    margin-right: 40px;
    padding: 10px 0;
}

.form-leter__input::placeholder {
    color: var(--white);
}

.form-leter__btn {
    border: none;
    color: var(--dark);
    background-color: var(--white);
    font-size: 18px;
    font-weight: 500;
    border-radius: 32px;
    padding: 14px 32px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1202px;
    margin: 0 auto;
    padding: 60px 15px;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.footer-list__item {
    margin-left: 32px;
}

.footer-list__item:first-child {
    margin-left: 0;
}

.footer-text {
    font-size: 16px;
    font-weight: 400;
}
